<h2 mat-dialog-title class="text-center">NOVO CLIENTE</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <div class="row">
      <div class="col-12 mb-2">
        <h5>Dados do cliente:</h5>
      </div>
      <div class="col-12 col-lg-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Código do Cliente</mat-label>
          <input
            matInput
            formControlName="codCliente"
            placeholder="Código do Cliente"
          />
        </mat-form-field>
      </div>
      <div class="col-12 col-lg-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>CNPJ</mat-label>
          <input matInput formControlName="cnpj" placeholder="CNPJ" />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Nome do Cliente</mat-label>
          <input
            matInput
            formControlName="nome"
            placeholder="Nome do cliente"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-6">
      <h5>Endereços:</h5>
    </div>
    <div class="col-6" style="text-align: right">
      <button
        mat-stroked-button
        (click)="isFormAtivo = true"
        [disabled]="isFormAtivo"
      >
        Abrir Formulário de Endereço
      </button>
    </div>
    <div class="col-12 mt-4" style="border: 1px solid" *ngIf="isFormAtivo">
      <form [formGroup]="formEndereco" (ngSubmit)="addEndereco()">
        <div class="row mt-4">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>CEP</mat-label>
              <input matInput formControlName="cep" placeholder="CEP" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Número</mat-label>
              <input matInput formControlName="numero" placeholder="Número" />
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Logradouro</mat-label>
              <input
                matInput
                formControlName="logradouro"
                placeholder="Logradouro"
              />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Bairro</mat-label>
              <input matInput formControlName="bairro" placeholder="Bairro" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Cidade</mat-label>
              <input matInput formControlName="cidade" placeholder="Cidade" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Estado</mat-label>
              <input matInput formControlName="estado" placeholder="Estado" />
            </mat-form-field>
          </div>
          <div class="col-12 mb-4" style="text-align: right">
            <button mat-button (click)="fecharFrom()">FECHAR</button>
            <button mat-button color="primary">ADICIONAR</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="logradouro">
            <th mat-header-cell *matHeaderCellDef>Logradouro</th>
            <td mat-cell *matCellDef="let endereco">
              {{ endereco.logradouro }}
            </td>
          </ng-container>
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef>Número</th>
            <td mat-cell *matCellDef="let endereco">{{ endereco.numero }}</td>
          </ng-container>
          <ng-container matColumnDef="bairro">
            <th mat-header-cell *matHeaderCellDef>Bairro</th>
            <td mat-cell *matCellDef="let endereco">{{ endereco.bairro }}</td>
          </ng-container>
          <ng-container matColumnDef="cidade">
            <th mat-header-cell *matHeaderCellDef>Cidade</th>
            <td mat-cell *matCellDef="let endereco">{{ endereco.cidade }}</td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let endereco">{{ endereco.estado }}</td>
          </ng-container>
          <ng-container matColumnDef="pais">
            <th mat-header-cell *matHeaderCellDef>País</th>
            <td mat-cell *matCellDef="let endereco">{{ endereco.pais }}</td>
          </ng-container>
          <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef>Latitude</th>
            <td mat-cell *matCellDef="let endereco">{{ endereco.latitude }}</td>
          </ng-container>
          <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef>Longitude</th>
            <td mat-cell *matCellDef="let endereco">
              {{ endereco.longitude }}
            </td>
          </ng-container>
          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef class="text-center">Ações</th>
            <td mat-cell *matCellDef="let endereco" class="text-center">
              <button mat-mini-fab color="warn" class="small-button" (click)="removerEndereco(endereco)">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="enderecoColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: enderecoColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
  <button mat-flat-button (click)="fecharDialog()">CANCELAR</button>
  <button mat-flat-button color="primary" (click)="salvar()">CONFIRMAR</button>
</mat-dialog-actions>
